body{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}
.container{
    background-color: #e1e1e1;
    max-width: 500px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
}
.container h2{
    text-align: center;
}
#blog-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
   
}
#postTitle{
 margin-bottom: 20px;
 padding: 10px;
 border: 1px solid cadetblue;
}
#postUrl{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid cadetblue;
}
#postArea{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid cadetblue;

}
#blog-form button{
 align-items: center;  
 padding: 20px;
 border: 1px solid #97a9fc;
 cursor: pointer;
 background-color: #c5cef4;
 border-radius: 5px;
}
.postList{
    background-color: #f3f4f5;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    
}
.postList h2{
    text-align: center;
    padding: 15px;
}
.postItem{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.picPost{
    width: 450px;
}

.edit-btn,.delete-btn{
    padding: 10px;
    width: 100px;
    margin-bottom: 10px;
}